<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <%= link_to "タイトル", "", class: 'navbar-brand' %>

      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <%= link_to  "", class: 'nav-link' do %>
            <i class="fas fa-user"></i>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>